@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.fancy-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.fancy-table th,
.fancy-table td {
}
.fancy-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
